.sidebar {
  position: fixed;
  background-color: rgb(99, 199, 255);
  width: 65px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.siderbar-item:first-child {
  margin-top: 60px;
}
.siderbar-item {
  margin-bottom: 25px;
}
.siderbar-item > a > i {
  font-size: 28px;
}
