.friend-active-container {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.friend-active-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.friend-active-list {
  display: flex;
  justify-content: space-between;
}
